.blood_donation
{
    background-color: #CE0000;
    padding: 1.5vw;
}
.blood_donation h2
{
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2.5vw;
    text-shadow: 0.5px 0.5px 0.5px rgb(112, 0, 0);
}
.bd
{
    display: inline;
}
.media img
{
    height: 20vw;
    width: auto;
    margin: 1vw;
}
.media p
{
    color: white;
    text-align: justify;
}
.bd-img
{
    display: none;
}
@media screen and (max-width: 800px)
{
    .bd-img 
    {
        display: block;
        width: 100%;
        height: auto;
    }
    .media img 
    {
        display: none;
    }
    .registration
    {
        display: none;
    }
}
p
{
    color: white;
}
.btn.btn-primary
{
    background-color: #E7E7DF;
    color: #CE0000;
    border: none;
    box-shadow: 2px 2px 2px rgb(109, 0, 0);
}
.btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover
{
    border: none;
    box-shadow: 0 0 0;
    outline: none;
}