<div class="our-team" id="team-component">
  <h2>TEAM</h2>
  <div class="team">
    <div class="row justify-content-center">
      <div class="col-lg-2"></div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/arinjoy.JPG" alt="Arinjoy">
          <div class="card-body">
            <p class="card-text">Arinjoy Das</p>
            <div class="social-media">
              <a href="https://www.facebook.com/arinjoy.das"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/arpita.JPG" alt="Arpita">
          <div class="card-body">
            <p class="card-text">Arpita Dutta</p>
            <div class="social-media">
              <a href="https://www.facebook.com/arpita.dutta.961993"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/deepthi.png" alt="Deepthi">
          <div class="card-body">
            <p class="card-text">Deepthi</p>
            <div class="social-media">
              <a href="#"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/giri.jpeg" alt="Giri">
          <div class="card-body">
            <p class="card-text">Giridharan Vijay kumar</p>
            <div class="social-media">
              <a href="https://www.facebook.com/giridharan.vijaykumar"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2"></div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/kamal.jpg" alt="Kamal">
          <div class="card-body">
            <p class="card-text">Kamal Chaudhary</p>
            <div class="social-media">
              <a href="https://www.facebook.com/kamal.chaudhary.7982780?ref=br_rs"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/kavya.jpg" alt="Kavya">
          <div class="card-body">
            <p class="card-text">Kavya Pradeep</p>
            <div class="social-media">
              <a href="https://www.facebook.com/kavya.pradeep.94"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/madhoora.jpg" alt="Madhoora">
          <div class="card-body">
            <p class="card-text">Madhoora Bhattacharya</p>
            <div class="social-media">
              <a href="https://www.facebook.com/madhoora.bhattacharya"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/nishu.JPG" alt="Nishu">
          <div class="card-body">
            <p class="card-text">Nishu Tripathi</p>
            <div class="social-media">
              <a href="https://www.facebook.com/nishu.tripathi.338?ref=br_rs"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2"></div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/pallavi.jpg" alt="Pallavi">
          <div class="card-body">
            <p class="card-text">Pallavi Agarwal</p>
            <div class="social-media">
              <a href="https://www.facebook.com/profile.php?id=100009497037569"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>   
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/pranay.jpg" alt="Pranay">
          <div class="card-body">
            <p class="card-text">Pranay Mital</p>
            <div class="social-media">
              <a href="https://www.facebook.com/pranaymital"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/pratiti.jpg" alt="Pratiti">
          <div class="card-body">
            <p class="card-text">Pratiti Basak</p>
            <div class="social-media">
              <a href="https://www.facebook.com/pratiti.basak.9"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/raksha.png" alt="Raksha">
          <div class="card-body">
            <p class="card-text">Raksha Padaki</p>
            <div class="social-media">
              <a href="#"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2"></div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/sandipan.jpg" alt="Sandipan">
          <div class="card-body">
            <p class="card-text">Sandipan Mukherjee</p>
            <div class="social-media">
              <a href="https://www.facebook.com/sandipan.mukherjee.716"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/shivam.jpg" alt="Shivam">
          <div class="card-body">
            <p class="card-text">Shivam Ghildiyal</p>
            <div class="social-media">
              <a href="https://www.facebook.com/shivam.ghildiyal.9"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/sonali.JPG" alt="Sonali">
          <div class="card-body">
            <p class="card-text">Sonali Pandey</p>
            <div class="social-media">
              <a href="https://www.facebook.com/sonapandey9"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/tharan.jpg" alt="Tharan">
          <div class="card-body">
            <p class="card-text">Tharan Keshvar</p>
            <div class="social-media">
              <a href="https://www.facebook.com/tharan.keshvar"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>   
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2"></div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b16/vaishali.jpg" alt="Vaishaali">
          <div class="card-body">
            <p class="card-text">Vaishaali A</p>
            <div class="social-media">
              <a href="https://www.facebook.com/profile.php?id=100009220255388"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>   
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b17/akshay.jpg" alt="Akshay">
          <div class="card-body">
            <p class="card-text">Akshay Bhandari</p>
            <div class="social-media">
              <a href="https://www.facebook.com/akshay.bhandari.754"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b17/amisha.png" alt="Amisha">
          <div class="card-body">
            <p class="card-text">Amisha Priya</p>
            <div class="social-media">
              <a href="https://www.facebook.com/amisha.srivastava.53"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b17/husain.JPG" alt="Husain">
          <div class="card-body">
            <p class="card-text">Husain Shakruwala</p>
            <div class="social-media">
              <a href="https://www.facebook.com/hsaincooll"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2"></div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b17/nishant.jpeg" alt="Nishant">
          <div class="card-body">
            <p class="card-text">Nishant Thakur</p>
            <div class="social-media">
              <a href="https://www.facebook.com/profile.php?id=100011454287571"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b17/pratyush.jpeg" alt="Pratyush">
          <div class="card-body">
            <p class="card-text">Pratyush Narayan</p>
            <div class="social-media">
              <a href="https://www.facebook.com/narayanpratyush"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b17/inturi.jpg" alt="Akhil">
          <div class="card-body">
            <p class="card-text">Sai Akhil Inturi</p>
            <div class="social-media">
              <a href="https://www.facebook.com/inturi.saiakhil7?ref=br_rs"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b17/sai.jpg" alt="Sai charan">
          <div class="card-body">
            <p class="card-text">Sai Charan Naidu</p>
            <div class="social-media">
              <a href="https://www.facebook.com/saicharan.naidu.9"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2"></div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b17/saksham.JPG" alt="Saksham">
          <div class="card-body">
            <p class="card-text">Saksham Mittal</p>
            <div class="social-media">
              <a href="https://www.facebook.com/saksham.mittal1"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b17/samanwitha.jpg" alt="Samanwitha">
          <div class="card-body">
            <p class="card-text">Samanwitha Rao</p>
            <div class="social-media">
              <a href="https://www.facebook.com/samanwitha.rao"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b17/sarvesh.jpg" alt="Sarvesh">
          <div class="card-body">
            <p class="card-text">Sarvesh Venkatesan</p>
            <div class="social-media">
              <a href="https://www.facebook.com/sarves.venkatesan"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b17/shweta.jpeg" alt="Shweta">
          <div class="card-body">
            <p class="card-text">Shweta Singh</p>
            <div class="social-media">
              <a href="https://www.facebook.com/profile.php?id=100013546020730"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2"></div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b17/simrat.jpg" alt="Simrat">
          <div class="card-body">
            <p class="card-text">Simrat Bains</p>
            <div class="social-media">
              <a href="https://www.facebook.com/simratbains03"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b17/sourabh.JPG" alt="Sourabh">
          <div class="card-body">
            <p class="card-text">Sourabh Dubey</p>
            <div class="social-media">
              <a href="https://www.facebook.com/profile.php?id=100009479820103"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b17/suma.jpg" alt="Suma">
          <div class="card-body">
            <p class="card-text">Suma Sree Thota</p>
            <div class="social-media">
              <a href="https://www.facebook.com/sumasree123"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div class="card team-member">
          <img class="card-img-top" src="assets/images/team/b17/vedu.jpg" alt="Vedu">
          <div class="card-body">
            <p class="card-text">Vedatroyee De Ghosh</p>
            <div class="social-media">
              <a href="https://www.facebook.com/vedatroyee.ghosh"><img src="assets/images/team/facebook.png" alt="FaceBook"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>