.footer {
    background-color:silver;
    opacity: 1;
    margin: 0px auto;
    padding: 70px 0px 0px 0px;
    min-height: 450px;
    line-height: 2.5em;
    font-size: 80%;
  }
.btn-social-icon
{
  margin-right: 5px;
}