<div class="footer" id="footer-component">
  <div class="container">
    <div class="row">       
      <div class="col-lg-6 col-md-12 col-12">
        <h5>Links</h5><hr>
        <ul class="list-unstyled">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <li><a href="#"><b>Home</b></a></li>
                <!--<li><a href="#"><b>FAQ</b></a></li>
                <li><a href="#"><b>Sign Up</b></a></li>
                <li><a href="#"><b>Sign In</b></a></li>-->
              </div>
            </div>
          </div>
        </ul>
      </div>
      <div class="col-lg-3 col-12">
        <h5>Our Address</h5><hr>
        <address>
          SMV 108, VIT, Vellore
          <!--<i class="fa fa-phone fa-lg"></i>: +44 20 7240 9319<br>-->
          <br>
          <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:yrc@vit.ac.in">yrc@vit.ac.in</a><br><br>
        </address>
      </div>
      <div class="col-lg-3 col-12">
        <h5>Connect With Us</h5><hr>
        <div>
          <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/YouthRedCrossVit/?ref=br_rs" target="_blank"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social-icon btn-youtube" href="https://www.youtube.com/channel/UCqjnmHWLlgEIxuXzDjkAo5g" target="_blank"><i class="fa fa-youtube"></i></a>
          <a class="btn btn-social-icon" href="mailto:yrc@vit.ac.in"><i class="fa fa-envelope-o"></i></a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row justify-content-center">             
      <div class="col-auto">
        <p>&copy; Copyright 2018 YRC-VIT. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>