<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar-top">
  <a class="navbar-brand" href="#" ><img src="assets/images/bg/logo yrc white.jpg" style="width: 60px; height: auto;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="'#about-yrc'" [ngx-scroll-to-duration]='1000'>About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="'#recent-updates-component'" [ngx-scroll-to-duration]='1000'>Recent Updates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="'#awards-component'" [ngx-scroll-to-duration]='1000' >Awards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="'#blood-donation-component'" [ngx-scroll-to-duration]='1000'>Blood Donation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="'#gallery-component'" [ngx-scroll-to-duration]='1000'>Photo Gallery</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [ngx-scroll-to]="'#team-component'" [ngx-scroll-to-duration]='1000'>Team</a>
      </li>
    </ul>
  </div>
</nav>
<button id="scroll-top"><a [ngx-scroll-to]="'#navbar-top'" [ngx-scroll-to-duration]='1000'>^</a></button>