<div class="awards" id="awards-component">
  <h2>Awards</h2>
  <ul id="hexGrid">
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink">
          <img src="assets/images/awards/awards.jpg" alt="awards" />
          <h1></h1>
          <p>Some of the awards recieved by Youth Red Cross, VIT</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink">
          <img src="assets/images/awards/best-club-2018.jpg" alt="best club" />
          <h1></h1>
          <p>The best club award of VIT 2017-18 awarded to Youth Red Cross</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink">
          <img src="assets/images/awards/odisha.jpg" alt="odisha awards" />
          <h1></h1>
          <p>Awards won by YRC volunteers in the inter-state national camp, Odisha</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink">
          <img src="assets/images/awards/aachran-jain.jpg" alt="aachran jain" />
          <h1></h1>
          <p>Mr. Aachran Jain, YRC volunteer, receiving award from IRCS Tamil Nadu</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink">
          <img src="assets/images/awards/best-yrc-volunteer.jpg" alt="best yrc volunteer" />
          <h1></h1>
          <p>Best Youth Red Cross volunteer 2015-16, Mr. Bhawesh Upadhyay receiving award</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink">
          <img src="assets/images/awards/best-club-award.jpg" alt="best club" />
          <h1></h1>
          <p>On the eve of University day celebration, Youth Red Cross receives best club award.</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink">
          <img src="assets/images/awards/geneva-convention.jpg" alt="geneva convention" />
          <h1></h1>
          <p>Geneva Convention day, Youth Red Cross volunteers receiving award from the Vice President of  VIT</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink">
          <img src="assets/images/awards/YRC-movement.jpg" alt="best yrc movement" />
          <h1></h1>
          <p>Award to Red Cross movement in VIT</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink">
          <img src="assets/images/awards/best-zonal-yrc.jpg" alt="best zonal yrc" />
          <h1></h1>
          <p>Best Zonal Youth Red Cross Award to YRC-VIT for Blood Donation Activities</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink">
          <img src="assets/images/awards/aishani.jpg" alt="aishani" />
          <h1></h1>
          <p>Aishani Bangia, winner of online essay and poetry competition awarded by our beloved Vice President Mr. G. V. Selvam</p>
        </a>
      </div>
    </li>
  </ul>
</div>
