/*.row-content {
    margin: 0px auto;
    padding: 40px 0px;
    min-height: 100%; 
}

.fullspan{
    width: 100%;
    min-height: 100vh;
  }*/
.facebook-posts
{
    background-color: #E7E7DF;
    padding: 3vw;
    background-size: 100% auto;
}
/*.events
{
    width: 600px;
    height: auto;
    background-color: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
@media screen and (max-width: 630px)
{
    .events
    {
        width: 100%;
    }
}
.carousel.slide
{
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: white;
}
.carousel-control-prev-icon 
{
    margin-left: calc(-2.5em - 2vmin);
    background-color: inherit;
    padding: 1vw;
    position: absolute;
    top: calc(15em + 15vmin);
}
.carousel-control-next-icon
{
    background-color: inherit;
    padding: 1vw;
    position: absolute;
    top: calc(15em + 15vmin);
}
span.carousel-control-prev-icon
{
    background-color: rgb(90, 90, 83);
    box-shadow: 2px 2px 2px black;
}
span.carousel-control-next-icon
{
    background-color: rgb(90, 90, 83);
    box-shadow: 2px 2px 2px black;
}
.carousel-control-next
{
    margin-right: calc(-2.5em - 2vmin);
}
.carousel-indicators
{
    margin-bottom: -50px;
    z-index: 10;
}
@media screen and (max-width: 630px)
{
    .events
    {
        width: 100%;
        height: auto;
    }
    .carousel.slide 
    {
        width: auto;
        height: auto;
    }
}*/
.facebook-posts h2
{
    color: #003031;
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px #364646;
    font-size: calc(1.5em + 1vmin);
    margin-top: 1vw;
}
.facebook-iframe
{
    width: 40%;
    height: 50vw;
    margin-top: 2vw;
}
@media screen and (max-width: 800px)
{
    .facebook-iframe
    {
        width: 70%;
        height: 75vw;
    }
}
@media screen and (max-width: 600px)
{
    .facebook-iframe
    {
        width: 90%;
        height: 100vw;
    }
}