<div id="recent-updates" style="background-image: linear-gradient(135deg, #be2222 0%, #f80004 74%);">
  <div class="container">
    <div class="row row-content align-items-center fullspan">
      <h1 class="mx-auto" style="color: white">Recent Updates</h1>
      <div class="col-12 mt-3">
        <h2 style="color: white">Events</h2>
        <div class="row align-items-center text-center">
          <div class="col-12 col-md-6 col-lg-3 mt-2">
            <div class="card">
              <h4 class="card-header bg-default">Jul, 2018 <span class="badge badge-danger" style="font-size: 20px;"> New</span></h4>
              <div class="card-block">
                <img class="d-flex mr-3 img-thumbnail align-self-center image-preview" src="assets/images/events/odisha.JPG" alt="Event 1">
                <h5>Event X?</h5>
              </div>
            </div>    
          </div>
          <div class="col-12 col-md-6 col-lg-3 mt-2">
            <div class="card">
              <h4 class="card-header bg-default">Apr, 2018</h4>
              <div class="card-block">
                <img class="d-flex mr-3 img-thumbnail align-self-center image-preview" src="assets/images/events/homev.JPG" alt="Event 2">
                <h5>Home Visit</h5>
              </div>
            </div>    
          </div>
        </div>
      </div>
      <div class="col-12 mt-5">
        <h2 style="color: white">Achievements</h2>
        <div class="row align-items-center text-center">
          <div class="col-12 col-md-6 col-lg-3 mt-2">
            <div class="card">
              <h4 class="card-header bg-default">2016-2017</h4>
              <div class="card-block">
                <img class="d-flex mr-3 img-thumbnail align-self-center image-preview" src="assets/images/events/bestclub.jpg" alt="Event 1">
                <h5>Best Club Award</h5>
              </div>
            </div>    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>