<!--<div id="recent-updates" style="background-image: linear-gradient(135deg, #be2222 0%, #f80004 74%);">
  <div class="container">
    <div class="row row-content align-items-center fullspan">
      <h1 class="mx-auto" style="color: white">Recent Updates</h1>
      <div class="col-12 mt-3">
        <h2 style="color: white">Events</h2>
        
        <div class="fb-page" data-href="https://www.facebook.com/YouthRedCrossVit/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/YouthRedCrossVit/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/YouthRedCrossVit/">Youth Red Cross VIT</a></blockquote></div>

        <div class="row align-items-center text-center">
          <div class="col-12 col-md-6 col-lg-3 mt-2">
            <div class="card">
              <h4 class="card-header bg-default">Jul, 2018 <span class="badge badge-danger" style="font-size: 20px;"> New</span></h4>
              <div class="card-block">
                <img class="d-flex mr-3 img-thumbnail align-self-center image-preview" src="assets/images/events/odisha.JPG" alt="Event 1">
                <h5>Event X?</h5>
              </div>
            </div>    
          </div>
          <div class="col-12 col-md-6 col-lg-3 mt-2">
            <div class="card">
              <h4 class="card-header bg-default">Apr, 2018</h4>
              <div class="card-block">
                <img class="d-flex mr-3 img-thumbnail align-self-center image-preview" src="assets/images/events/homev.JPG" alt="Event 2">
                <h5>Home Visit</h5>
              </div>
            </div>    
          </div>
        </div>
      </div>
      <div class="col-12 mt-5">
        <h2 style="color: white">Achievements</h2>
        <div class="row align-items-center text-center">
          <div class="col-12 col-md-6 col-lg-3 mt-2">
            <div class="card">
              <h4 class="card-header bg-default">2016-2017</h4>
              <div class="card-block">
                <img class="d-flex mr-3 img-thumbnail align-self-center image-preview" src="assets/images/events/bestclub.jpg" alt="Event 1">
                <h5>Best Club Award</h5>
              </div>
            </div>    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div class="facebook-posts" id="recent-updates-component">
  <h2>Recent Updates</h2>
  <div class="row justify-content-center"><iframe class="facebook-iframe" src="https://www.facebook.com/YouthRedCrossVit/"></iframe></div>
  <!-- <div class="events">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <iframe class="d-block w-100" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FYouthRedCrossVit%2Fposts%2F1763886050321682%3A0&width=500" width="500" height="740" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="false" allow="encrypted-media"></iframe>
        </div>
        <div class="carousel-item">
          <iframe class="d-block w-100" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FYouthRedCrossVit%2Fposts%2F1759081970802090&width=500" width="500" height="574" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>      
        </div>
        <div class="carousel-item">
          <iframe class="d-block w-100" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FYouthRedCrossVit%2Fposts%2F1741672722543015%3A0&width=500" width="500" height="715" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="carousel-item">
          <iframe class="d-block w-100" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FYouthRedCrossVit%2Fposts%2F1736858456357775%3A0&width=500" width="500" height="677" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>      
        </div>
        <div class="carousel-item">
          <iframe class="d-block w-100" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FYouthRedCrossVit%2Fposts%2F1720800877963533%3A0&width=500" width="500" height="696" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>      
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div> -->
</div>
